body {
  background-color: rgba(231, 231, 231, 0.925); !important
}


.main {
  background: #fff;
  min-height: 500px;
  width: 100%;
  margin: 25px;
  padding: 30px;
}

.add_sngl_line_field_btn,
.add_text_area_btn,
.add_radio_list_btn {
  background-color: #1c97f3;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border:1px solid #186dad;
}

.btn {
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;  
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; 
  padding-left: 14px;
  padding-right: 14px;
  font-size: 10px;
  font-size: 0.8125rem;
  line-height: 26px;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  transition-duration: .5s;
}

.btn, 
.btn:hover, 
.btn:active, 
.btn:focus {
  text-decoration: none;
  outline: none; 
}

.btn::-moz-focus-inner {
  border: 0;
  padding: 0; 
}

.btn-flat.btn-red {
  color: #f44336; 
}

.btn-flat:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); 
}

.main_content span {
  font-size:16px; 
  font-weight:bold;
}

.form_menu {
  text-align: center;
}

.fields {
  text-align: left;
}